/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-j73nrgy20w] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-j73nrgy20w] {
  color: #0077cc;
}

.btn-primary[b-j73nrgy20w] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-j73nrgy20w], .nav-pills .show > .nav-link[b-j73nrgy20w] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-j73nrgy20w] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-j73nrgy20w] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-j73nrgy20w] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-j73nrgy20w] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-j73nrgy20w] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.switch[b-j73nrgy20w] {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input[b-j73nrgy20w] {
  display: none;
}

.slider[b-j73nrgy20w] {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider[b-j73nrgy20w]:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider[b-j73nrgy20w] {
  background-color: #2196F3;
}

input:focus + .slider[b-j73nrgy20w] {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider[b-j73nrgy20w]:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

body[b-j73nrgy20w] {
  background-color: #fff;
  color: #333;
}

.dark-mode body[b-j73nrgy20w] {
  background-color: #333;
  color: #fff;
}
